@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.TokenManagmentPage {
  background: var(--clr-transparent);
}

.TokenManagmentPage-wrapper {
  padding: 0 15% 4rem;
}

.TokenManagmentPage-breadcrumb {
  margin: 2rem 1rem;
}

.TokenManagmentPage-section {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;
  color: var(--clr-black);
  margin-bottom: 20px;
  background: var(--clr-white);
}

.TokenManagmentPage .TokenManagmentPage-section .bx--data-table-content {
  padding: 1rem;
}

.TokenManagmentPage-section .bx--data-table-container, .TokenManagmentPage-section .bx--data-table-header, .TokenManagmentPage-section .bx--table-toolbar {
  background: var(--clr-white);
}

.TokenManagmentPage-section .bx--table-toolbar {
  padding: 0 1rem;
}

.TokenManagmentPage-section .bx--data-table tbody tr td, .TokenManagmentPage-section .bx--data-table tbody tr th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: var(--clr-white);
  color: #161616;
}

.TokenManagmentPage-section .bx--data-table tbody tr:hover td, .TokenManagmentPage-section .bx--data-table tbody tr:hover th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #e5e5e5;
  color: #161616;
}

@media screen and (max-width: 1040px) {
  .TokenManagmentPage-wrapper {
    padding: 0 3.8% 4rem;
  }
}