.Edit-bundle-group .bx--row {
    margin-right: -0.5rem;
}
.bg-form-counter {
    //position: absolute;
    float: right;
    right: 18px;
    top: 18px;
}

.bx--checkbox-label-text {
    font-size: 0.75rem;
    color: #525252;
}

